body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:black;
}
header{
background-color:black;
color:white;
}
a {
  color: #00B7FF;
}
.container{
}
.main-content{
float:left;
width:70%;
background-color:white;
}
.sidebar {
float:left;
background-color:lightgray;
width:30%;
}
.widget{
text-align:center;
}
footer{
clear:both;
background-color:black;
color:white;
}
div.estorbo{
float:left;
width:30%;
}
