extend layout
block encabezado
  script(type="text/javascript",src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js").
  script(type="text/javascript",src="/javascripts/admin.js").
  script(src="/socket.io/socket.io.js").
block content
  div
    h1 Agregar Bus
    form(id = "abus")
      input(id="abusbus",value = "No.Bus")
      select(id = "abustipo")
        option(value = 1) Economico
        option(value = 2) Empresarial
      br
      input(type="submit",value = "Agregar")
    h1 Borrar Bus
    form(id="bbus")
      input(id="bbusbus",value = "No.Bus")
      br
      input(type="submit",value = "Borrar")
    h1 Cambiar Bus
    form(id="cbus")
      input(id="cbusbus",value = "No.Bus")
      select(id = "cbustipo")
        option(value = 1) Economico
        option(value = 2) Empresarial
      br
      input(type="submit",value = "Cambiar")
  div
    h1 Agregar Ruta
    form(id = "aruta")
      input(id="arutaruta",value = "No.Ruta")
      input(id="arutanombre",value = "Nombre")
      br
      input(type="submit",value = "Agregar")
    h1 Borrar Ruta
    form(id="bruta")
      input(id="brutaruta",value = "No.Ruta")
      br
      input(type="submit",value = "Borrar")
    h1 Agregar Puntos
    form(id="cruta")
      input(id="crutaruta",value = "No.Bus")
      input(id="crutapunto",value = "No.punto")
      input(id="crutadist",value = "distancia")
      br
      input(type="submit",value = "Agregar")
  div
    h1 Asignar Bus
    form(id = "aasig")
      input(id = "aasigbus",value = "No.Bus")
      input(id = "aasigruta",value = "No.Ruta")
      br
      input(type = "submit",value = "Asignar")
block sidebar
  .widget
    h1 Admin
    form(id="mbus")
      input(type = "submit",value = "Mostrar Buses")
    form(id="mruta")
      input(type = "submit",value = "Mostrar Rutas")
    form(id="masig")
      input(type = "submit",value = "Mostrar Asignaciones")
    div(id="node-id")
